#outer{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(185, 185, 33);
}
#eye_left{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 70px;

}
#eye_right{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 80px;
    left: 190px;
}
#tongue{
    height: 60px;
    width: 150px;
    background-color: red;
    border-radius: 0 0 40px 40px;
    position: absolute;
    top: 210px;
    left: 80px;

}